.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  transition: border var(--transition-time) var(--cubic),
    color var(--transition-time) var(--cubic);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  &:hover,
  &:focus {
    transform: border-color, color;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients__svg {
  transition: fill var(--transition-time) var(--cubic);
  width: 106px;
  height: 60px;
  fill: currentColor;
}
