.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.description__svg-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.description__svg {
  display: flex;
  width: 70px;
  height: 70px;
}

.description__list {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.description__item {
  width: 270px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-right: 30px;
}

.description__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.description__text {
  line-height: 1.71;
}
