:root {
  --primary-text-color: #212121;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bg-color: #2f303a;
  --paragraph-color: #757575;
  --link-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --icon-color: #afb1b8;
  --main-bg-lite-color: #ffffff;
  --btn-hover: #188ce8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}
